<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>C4-Racers</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 id = "title" style="color : silver">index page</h1>
    <p>안녕하세요 index 페이지입니다.</p>
    <hr>
    <p>Image Tag</p>
    <img src="https://images.unsplash.com/photo-1722723457975-0836b1f68b26?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" id="main-image" alt="analog photo"/>
    <br>
    <hr>
    <br>

    button Tag
    <button id = "button1">버튼</button>
    <button id = "button2">버튼</button>

    <br>
    <hr>
    <br>

    a Tag
    <div>
        <a href="https://google.com" target="_blank">구글로 이동</a>
    </div>
    <div>
        <a href="https://naver.com" target="_blank">네이버로 이동</a>
    </div>

    <br>
    <hr>
    <br>

    h Tag
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
    <h5>h5</h5>
    <h6>h6</h6>

    p Tag
    <p>this is p tag.</p>

    <hr>

    ul Tag
    <h3>순서가 없는 리스트 태그</h3>
    <ul>
        <li class="list-item">list 1</li>
        <li class="list-item selected">list 2</li>
        <li class="list-item">list 3</li>
    </ul>

    <br>

    ol Tag
    <h3>순서가 있는 리스트 태그</h3>
    <ol>
        <li>list 1</li>
        <li>list 2</li>
        <li>list 3</li>
    </ol>

    <br>
    <hr>
    <br>

    div Tag
    <h3>div : block</h3>
    <div>1</div>
    <div>2</div>
    <div>3</div>

    <br>
    <hr>
    <br>

    span Tag
    <h3>span : inline</h3>
    <span>1</span>
    <span>2</span>
    <span>3</span>

    <br>
    <hr>
    <br>

    table Tag
    <table border="1">
        <tr>
            <th>column 1</th>
            <th>column 2</th>
            <th>column 3</th>
        </tr>

        <tr>
            <td>first data</td>
            <td>second data</td>
            <td>third data</td>
        </tr>

        <tr>
            <td>first data</td>
            <td>second data</td>
            <td>third data</td>
        </tr>

        <tr>
            <td>first data</td>
            <td>second data</td>
            <td>third data</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    form Tag
    <form action="/login" method="POST" name="login">
        <br>
        <label for="email">email :</label>
            <input id = "email" type="email"/>
        <br>
        <br>

        <label for="password">password :</label>
            <input id = "password" type="password"/>
        <br>
        <br>

        <label for="rememberId">rememberId :</label>
        <input id="rememberId" type="radio">
        <br>
        <br>

        <label for="auto-login">auto-login :</label>
        <input id="auto-login" type="checkbox">
        <br>
        <br>

        <textarea name="contents", placeholder="input pin-number" cols="20" rows="1"></textarea>
        <br>
        <br>

        <input id = "login-submit" type="button" value="log-in">
        <br>
        <br>
    </form>
</body>
</html>

