<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>

</head>
<body>
    <form action="/login" method="POST" name="login">
        <br>
        <label for="email">email :</label>
        <input id = "email" type="email" name="email"/>
        <br>
        <br>

        <label for="password">password :</label>
        <input id = "password" type="password" name="password"/>
        <br>
        <br>

        <label for="rememberId">rememberId :</label>
        <input id="rememberId" type="radio">
        <br>
        <br>

        <label for="auto-login" id="label-autologin">auto-login :</label>
        <input id="auto-login" type="checkbox">
        <br>
        <br>

        <input id = "login-submit" type="submit" value="log-in">
        <br>
        <br>
    </form>
</body>
</html>